<p>The content of this setting is loaded as a [url:https://www.formdev.com/flatlaf/properties-files/ FlatLaf Properties File].
    Properties are loaded in the following order (later loaded overwrites previous):</p>
<ol>
    <li>A base theme is loaded based on the selected Look&amp;Feel (can be manually set with the property <code>@baseTheme = &lt;theme&gt;</code>, with value <code>light</code>, <code>dark</code>, <code>intellij</code> or <code>darcula</code>)</li>
    <li>Chatty specific changes are added (can be disabled by adding <code>chattyProperties = false</code>)</li>
    <li>This setting is loaded</li>
</ol>
<p>If you just want to change the colors a bit, starting with something like this
    could be a good idea:</p>
<pre>
@foreground = #ddd
@background = #3d3d3d
</pre>