This feature is experimental and may not work properly. Select a channel and
    click the button to make transparent. The transparency only works in a popout
    window (and it needs to be alone in the popout).
<ul>
    <li>Can't fully interact with a transparent window, need to toggle transparency.</li>
    <li>You can bind the "Toggle Transparency" action in the
        Hotkeys settings (must have made transparent once here before).</li>
    <li>Special message background colors are not transparent. Is is recommended
        to use white text on dark background (no alternating backgrounds). The
        window background color is always black when transparent.</li>
    <li>Settings in this dialog are currently not saved.</li>
</ul>

