<html><body style="width:400px">
<p>Allows you to bulk edit the Addressbook, for example with an external tool.</p>
<p>Will overwrite all current entries, so be careful what you do here.</p>
<p>The format needs to be exact (you can use the Test-button to check your input):</p>
<pre>name1 category1,category2
name2 category1
name3
name4 category2,category1,category3</pre>
<p>Entries here are initially always ordered alphabetically by name, strictly for convenience, the order does otherwise not matter.</p>