<p>An order can be specified for:</p>
<ul>
    <li>A specific tab (name of the channel, all-lowercase), takes precedence over type (if available and not value <code>0</code>)</li>
    <li>A type of tab (Channel: <code>#</code>, Whisper: <code>$</code>, Info/Docked Dialog: <code>-</code> (these are mirrored by the tab order settings outside of this dialog)</li>
</ul>
<p>Lower numbers place the tab earlier in the order, so <code>-3</code> would be sorted before e.g. <code>-2</code> and <code>1</code>. A value of <code>0</code> is the default, so negative values put tabs in front and positive values after tabs in default location (tabs are in default location when they are not listed here - neither by specific name or by type - or are listed with value <code>0</code>).</p>
<p>These can also be changed in the tab context menu.</p>