Select a channel and click the button to make transparent. The transparency only
works in a popout window (and the channel needs to be alone in the popout).
<ul>
    <li>The transparent window can't be fully controlled with the mouse (no
        titlebar, clicks may not register on transparent parts or at all), so
        you need to toggle transparency to e.g. move it.</li>
    <li>You can set a hotkey with the "Toggle Transparency" action in the
        Hotkeys settings.</li>
    <li>When transparency is enabled the main background color is always black,
        with transparency applied based on the Window Background Transparency
        setting. Message background colors (e.g. the second color of alternating
        backgrounds or Custom Msg. Colors) are made transparent based on that
        setting as well.</li>
    <li>The last channel that was made transparent is saved, so if you restart
        Chatty and rejoin the same channel you can just use the hotkey to make
        it transparent again, without having to select it in the Transparency
        dialog first.</li>
</ul>

