<p>Backups are a copy of the settings which can be loaded if there is an issue with the regular settings file or to revert settings to an older version. Backups are created automatically, but can also be created manually via "Main - Save..".</p>

<ol>
    <li>Select a backup from the list</li>
    <li>Click the "Load Selected Backup" button to overwrite the settings file with the backup</li>
    <li>Restart Chatty when you're done to load the new settings</li>
</ol>
<p>Note: Once you loaded a backup Chatty will no longer automatically save your settings until you restart.</p>