This feature is experimental and may not work properly. Select a channel and
    click the button to make transparent. The transparency only works in a
    popout window (and the channel needs to be alone in the popout).
<ul>
    <li>The transparent window can't be fully controlled with the mouse (no
        titlebar, clicks may not register on transparent parts or at all), so
        you need to toggle transparency to e.g. move it.</li>
    <li>You add a new hotkey with the "Toggle Transparency" action in the
        Hotkeys settings (must have made transparent once here before).</li>
    <li>Special message background colors are not transparent. Is is recommended
        to use white text on dark background (no alternating backgrounds). The
        window background color is always black when partially transparent.</li>
    <li>Settings in this dialog are not saved in this version.</li>
</ul>

