Matches text anywhere in the message (case insensitive). For example
<code>Bets open</code> would match 'Bets open' or 'BETS OPEN'.

<p>[help-settings:Highlight_Matching Text Matching Prefixes] can be put in front
    of the match text (anything after the prefix will be interpreted as text):</p>
<ul style='margin-left:30px'>
    <li><code>start:!slot</code> - Message beginning with '!slot'</li>
    <li><code>w:Clip</code> - 'Clip' as a word, so e.g. not 'Clipped'</li>
</ul>
[help-settings:Highlight_Meta_Matching Meta Prefixes] can be put in front of
Text Matching Prefixes and eachother (separated by a space). They can restrict
by user, channel, message type and more.
<br /><br />More information in the help, [url:https://www.youtube.com/watch?v=55n7ZWaaRIg this video tutorial]
and the following examples:
<br />
<!--#START:highlight#-->
<dl>
    <dt><code>user:botimuz cs:Bets open</code></dt>
    <dd>Matches the user Botimuz saying 'Bets open' (case sensitive)</dd>
    <dt><code>config:info [Notification]</code></dt>
    <dd>Matches info messages containing '[Notification]', so all 
        sub notifications</dd>
    <dt><code>config:firstmsg</code></dt>
    <dd>Matches the first message of a user in the current session</dd>
</dl>
<!--#END:highlight#-->

<!--#START:filter#-->
<dl>
    <dt><code>user:Nightbot replacement:H: reg:Hours Watched:\\s</code></dt>
    <dd>Replace 'Hours Watched: ' with 'H:' (in messages by Nightbot).</dd>
    <dt><code>reg:^Stream Schedule:.*</code></dt>
    <dd>Filter messages starting with 'Stream Schedule', default replacement ('..').</dd>
    <dt><code>replacement:Schedule reg:^Stream Schedule:.*</code></dt>
    <dd>Same as previous, but replace with 'Schedule'.</dd>
</dl>
<em>Note:</em> This only filters the parts of the message that 
are matched. To ignore a message entirely use the Ignore feature.
<br /><em>Note:</em> This only works for regular chat messages.
<!--#END:filter#-->

<!--#START:ignore#-->
<dl>
    <dt><code>user:botimuz cs:Bets open</code></dt>
    <dd>Matches the user Botimuz saying 'Bets open' (case sensitive)</dd>
    <dt><code>config:info [Notification]</code></dt>
    <dd>Matches info messages containing '[Notification]', so all 
        sub notifications</dd>
</dl>
<!--#END:ignore#-->

<!--#START:msgColors#-->
<dl>
    <dt><code>user:botimuz</code></dt>
    <dd>Match all regular messages by user 'Botimuz'</dd>
    <dt><code>config:info [Notification]</code></dt>
    <dd>Match all info messages containing '[Notification]', so 
        basicially all subscriber notifications</dd>
    <dt><code>config:firstmsg</code></dt>
    <dd>Matches the first message of a user in the current session</dd>
</dl>
<p><em>Note:</em> Unticking the 'Enabled'-checkbox means that the 
    default color will be used.</p>
<!--#END:msgColors#-->