<p>An order can be specified for:</p>
<ul>
    <li>A specific tab (name of the channel, all-lowercase), takes precedence over type if available</li>
    <li>A type of tab (<code>#</code> - Channel, <code>$</code> - Whisper, <code>-</code> - Info Panel/Docked Dialog, these are mirrored by the dedicated tab order settings)</li>
</ul>
<p>Lower numbers mean the tab is earlier in the order, so <code>-3</code> would be sorted before <code>-2</code> and <code>1</code>. A value of <code>0</code> is the default, so negative values put tabs in front and positive values after tabs that are not listed here (neither by type or specific name).</p>
<p>These can also be changed in the tab context menu.</p>